body {
  padding-top: 50px;
  height: 80%;
  background-color: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-display: swap;
}
.wrapper {
  border: 5px solid rgb(223, 218, 218);
  border-radius: 16px;
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  flex-basis: 450px;
  height: 560px;
  padding: 25px 30px;
  box-shadow: 10px 8px 5px black;
}
.screen {
  width: 100%;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid aliceblue;
  background-color: transparent;
  border-radius: 10px;
  text-align: right;
  font-size: 34px;
  box-shadow: 0 4px 30px black;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.calc-button {
  flex-basis: 22%;
  font-size: 24px;
  border-radius: 10px;
  height: 62px;
}
.calc-button:last-child {
  background-color: rgb(11, 33, 59);
  color: aliceblue;
  font-size: 30px;
}
.calc-button:hover {
  background-color: inherit;
  color: rgb(248, 248, 248);
}
.calc-button:last-child:hover {
  background-color: inherit;
}
.calc-button:active {
  background-color: rgb(11, 33, 59);
}
.double {
  flex-basis: 48%;
}
.triple {
  flex-basis: 74%;
}
